{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="container-fluid" style="height: 100vh;">

    <div class="row align-items-center">
        <div class="col header-title">
            <p><strong>Affordable<br>Graphic<br>Design</strong></p>
            <p class="header-desc">MAKING IT SIMPLE FOR EVERYONE</p>
            <p class="header-sub">PERTHSHIRE | SCOTLAND</p>

        </div>
        <div class="col cover-image" style="font-size: 100px; color: white; height: 100vh;">
        </div>
    </div>
</div>

<div class="breaker">
    <div>
        <p>Scottish graphic design freelancer<br>creating great logos and high quality print items for your business or
            personal needs</p>
    </div>
</div>

<div class="container-fluid">
    <div class="row about-info about-row-one">
        <div class="col-lg-4 about rotate">
            <p><strong>About Us</strong></p>
        </div>
        <div class="col-lg-8 about-row-one-image">
        </div>
    </div>
    <div class="row about-row-two">

        <div class="about-body">
            <p>Offering simple, down to earth graphic design service is what we are all about at Miller Creative.
                We work closely with a lot of local business in and around Perthshire to bring their ideas to life.
                Offering an online service has allowed us to expand internationally with the development of identities
                for a handful of businesses.
            </P>
            <p>
                Whether you are starting a new business or wanting to refresh what you have, we can help.

                We cater for all types of design needs. We would generally start with your logo then take it from
                there.
            </p>
            If it's business cards, flyers, vouchers, invitations, pvc banners, wedding invites, wedding signage, baby thank you cards, or anything else you have in mind,
            we can do it!
            </p>
            <p>
                Just get in touch via email, phone or social media for a chat.
            </p>
        </div>

    </div>

</div>


<!--
<div class="container-fluid ">
    <div class="row click-box-row">

        <div class="col-lg-3 col-md-3 col-xs-6 click-box bg-one" onclick="">
            <div class="click-box-child">
                <a class="box-a" href="#">LOGOS</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-6 click-box bg-two" onclick="">
            <div class="click-box-child">
                <a class="box-a" href="#">PRINT</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-6 click-box bg-three" onclick="">
            <div class="click-box-child">
                <a class="box-a" href="#">SHOP</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-6 click-box bg-four" onclick="">
            <div class="click-box-child">
                <a class="box-a" href="#">ACCOUNT</a>
            </div>
        </div>
    </div>
</div>

-->

<!-- parallax footer image-->

<div class="parallax">
</div>

{% endblock %}