{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- header image -->
<!--
<div class="bg-image d-flex justify-content-center align-items-center cover-image" style="
    background-image: url('https://res.cloudinary.com/millermayhem/image/upload/v1660218696/Miller%20Creative%20Site/Lion_Engraved_ynmui3.png');
    height: 100vh;">

    <div class="container h-100 hello-g">
        <div class="row">
            <div class="col header-title">
                <p><strong>AFFORDABLE<br>GRAPHIC<br>DESIGN</strong></p>
            </div>
            
        </div>
    </div>
</div>
-->

<div class="container-fluid" style="height: 100vh;">

    <div class="row align-items-center">
        <div class="col header-title">
            <p><strong>Affordable<br>Graphic<br>Design</strong></p>
            <p class="header-desc">MAKING IT SIMPLE FOR EVERYONE</p>
            <p class="header-sub">PERTHSHIRE | SCOTLAND</p>

        </div>
        <div class="col cover-image" style="font-size: 100px; color: white; height: 100vh;">
        </div>
    </div>
</div>


<div class="container-fluid" style="background-color: white;">
    <div class="row">
        <div class="col-lg-3 col-md-3">
            1
        </div>
        <div class="col-lg-3 col-md-3 col-xs-6">
            2
        </div>
    </div>
</div>


<div class="container1" style="height: 70px;">
    <div>
        <p><i class="fasolid fa-person-biking" style="height:30px; width: 30px;"></i>where is my icon???</p>
    </div>
</div>

{% endblock %}