html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    letter-spacing: 3px;
    background-color: black;
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0) !important;
    border-color: rgba(255, 255, 255, 0) !important;
    font-size: 15px;
    color: white;
    }

.nav-text {
    color: white !important;
    font-size: 12px;
}

.cover-image {
    background-image: url('https://res.cloudinary.com/millermayhem/image/upload/v1660299071/Miller%20Creative%20Site/Artboard_1_st0hfb.png');
    height: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-color: black;
}

.header-title {
    color: white;
    text-align: right;
    font-size: 80px;
    line-height: 100%;
    padding-right: 1em;
    margin-top: 60px;
    font-weight: 100;
}

.header-desc {
    font-size: 16px;
}

.header-sub {
    font-size: 10px;
}

.click-box-row {
    height: 180px;
    background-color: black;
    color: white;
    text-align: center;
    margin: 100px 0;
}

.click-box {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100%;
    line-height: 200PX;
    background-color: BLACK;

}


.click_box_child {
    height: 100%;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}


.bg-one {background-image: url('https://res.cloudinary.com/millermayhem/image/upload/v1660229219/Miller%20Creative%20Site/Artboard_1_jczvti.png');}
.bg-two {background-image: url('https://res.cloudinary.com/millermayhem/image/upload/v1660229377/Miller%20Creative%20Site/Artboard_1_eeqlhf.png');}
.bg-three {background-image: url('https://res.cloudinary.com/millermayhem/image/upload/v1660231390/Miller%20Creative%20Site/Trolley_ogvrkj.png');}
.bg-four {background-image: url('https://res.cloudinary.com/millermayhem/image/upload/v1660231661/Miller%20Creative%20Site/my_account_npzkvc.png');}

.box-a {
    display: none;
    font-size: 35px;
    color: #ffffff !important;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    /*text-decoration: none;*/
}

.click-box:hover .click-box-child, .click-box:focus .click-box-child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.click-box:hover .click-box-child:before, .click-box:focus .click-box-child:before {
    display: block;
}

.click-box:hover a, .click-box:focus a {
    display: block;
}

.click-box-child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,73,94,0.75);
}



.book-button {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.book-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


.container1 {
    height: 60px;
    background-color: pink;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 900px) {
    .header-title {
        font-size: 55px;
    }
}

@media only screen and (max-width: 600px) {
    .header-title {
        font-size: 35px;
    }
}