{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="top-spacer">
</div>

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h3>PRODUCTS AND SERVICES</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quis obcaecati, nobis tenetur facere
                dolorem voluptate, laudantium explicabo voluptatem aliquid aspernatur dignissimos ipsum asperiores,
                aperiam in sapiente ad accusamus exercitationem! Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Adipisci inventore, recusandae nostrum dolorem repellat pariatur quibusdam mollitia possimus
                eveniet ipsum delectus, exercitationem vel. Officia repudiandae omnis error repellendus facilis? A!</p>
        </div>
    </div>
</div>
<div class="container-fluid" style="text-align: center; display: flex;
align-items: center; justify-content: center">
    <div class="row">
        <a href="" class="col-sm-12 col-md-6 col-lg-4 col-xl-4 shop-category">
            <strong>
                <p style="padding-top: 90px;">A5</p>
            </strong>
        </a>
        <a href="" class="col-sm-12 col-md-6 col-lg-4 col-xl-4 shop-category">
            <strong>
                <p style="padding-top: 90px;">A6</p>
            </strong>
        </a>
        <a href="" class="col-sm-12 col-md-6 col-lg-4 col-xl-4 shop-category">
            <strong>
                <p style="padding-top: 90px;">A4</p>
            </strong>
        </a>
    </div>

</div>


{% endblock %}