{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="top-spacer">
</div>

<div class="shop-background">
    <div style="background-image: linear-gradient(to right, rgba(0,0,0,0.7) , rgba(0,0,0,0));">
        <div class="container" style="padding-top: 150px; max-width: 1050px;">
            <div class="row" style="padding-top: 40px; background-color: black;">
                <div class="col-12">
                    <h3>DESIGN AND PRINT SHOP</h3>
                    <p class="product-desc" style="padding:30px">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Officia quis obcaecati,
                        nobis
                        tenetur facere
                        dolorem voluptate, laudantium explicabo voluptatem aliquid aspernatur dignissimos ipsum
                        asperiores,
                        aperiam in sapiente ad accusamus exercitationem! Lorem ipsum dolor sit amet, consectetur
                        adipisicing
                        elit. Adipisci inventore, recusandae nostrum dolorem repellat pariatur quibusdam mollitia
                        possimus
                    </p>
                </div>
            </div>
        </div>
        <div class="container-fluid" style=" display: flex; align-items: center; justify-content: center">
            <div class="row" style="justify-content: center">
                <a href="{% url 'products' %}?category=Logo"
                    class="col-sm-12 col-md-6 col-lg-4 col-xl-4 shop-category opacity-background">
                    <strong>
                        <p class="p-font" style="padding-top: 80px;">BUY A<br>LOGO</p>
                    </strong>
                </a>
                <a href="{% url 'products' %}?category=Cards"
                    class="col-sm-12 col-md-6 col-lg-4 col-xl-4 shop-category opacity-background">
                    <strong>
                        <p class="p-font" style="padding-top: 90px;">BUSINESS CARDS</p>
                    </strong>
                </a>
                <a href="{% url 'flyers' %}"
                    class="col-sm-12 col-md-6 col-lg-4 col-xl-4 shop-category opacity-background">
                    <strong>
                        <p class="p-font" style="padding-top: 90px;">FLYERS</p>
                    </strong>
                </a>
            </div>
        </div>

        <hr style="margin-top: 60px;">

        {% endblock %}
    </div>
</div>