{% extends "base.html" %}
{% load static %}
{% load bag_tools %}


{% block content %}
<div class="contact-background">
    <div class="container"
        style="max-width: 800px; padding: 60px 15px; background-color: rgba(0, 0, 0, 0.7);margin-top: 150px;">
        <div>
            <h2>CONTACT US</h2>
            <hr>
            <h4 style="margin-bottom: 40px;">Contact us directly if you have any questions</h4>
            <p style="margin-bottom: 40px;">
                Please write your name, email address and a message below if you have any questions.
                We will be happy to contact you directly and answer your questions as soon as possible.
            </p>
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn-sm btn-light rounded-0">SEND ENQUIRY</button>
            </form>
        </div>
    </div>

    {% endblock %}
</div>