{% extends "base.html" %}
{% load static %}

{% block content %}




<div class="shop-background">
    <div class="container" style="padding-top: 150px; max-width: 1050px;">


        
        <div class="row" style="padding-top: 50px; justify-content: center;">
            {% for product in products %}
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <div class="card-dark mb-4" style="font-size: 14px; text-align: center; padding: 40px 20px; background-color: rgba(0, 0, 0, 0.8);">
                    {% if product.image %}
                    <a href="{% url 'product_detail' product.id %}">
                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="{% url 'product_detail' product.id %}">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                    {% endif %}
                    <div class="card-body mt-5">
                        <p class="mb-0">{{ product.name }}</p>
                    </div>
                  
                </div>
            </div>

            {% endfor %}
        </div>
    </div>




{% endblock %}